/*
 * The classes in here follow the BEM naming convention for the generated CSS
 * (not that it is really needed on a project of this size)
 */


/* Colors */
// Note: probably need another 2 or 4 shades per color to make this look better

@primary-500: #226A62;
@primary-400: #2F9187;
@primary-300: #3CB7AB;
@primary-200: #7ED5CD;
@primary-100: #D4F1EE;

@neutral-500: #090909;
@neutral-400: #404040;
@neutral-300: #808080;
@neutral-200: #C8C8C8;
@neutral-100: #F6F6F6;

@accent-yellow-500: #504B0C;
@accent-yellow-400: #B4AA1B;
@accent-yellow-300: #E6DD5B;
@accent-yellow-200: #F1ECA1;
@accent-yellow-100: #FAF8DC;

@accent-red-500: #501E0C;
@accent-red-400: #B4441B;
@accent-red-300: #E6805B;
@accent-red-200: #F1B6A1;
@accent-red-100: #FAE4DC;

@accent-green-500: #27500C;
@accent-green-400: #4EA018;
@accent-green-300: #93E65B;
@accent-green-200: #C1F1A1;
@accent-green-100: #E8FADC;


/* Dimensions */
// idk about the naming convention here.
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@dimens-4: 4px;
@dimens-8: 8px;
@dimens-12: 12px;
@dimens-16: 16px;
@dimens-24: 24px;
@dimens-32: 32px;
@dimens-48: 48px;
@dimens-64: 64px;
@dimens-96: 96px;
@dimens-128: 128px;
@dimens-192: 192px;
@dimens-256: 256px;
@dimens-384: 384px;
@dimens-512: 512px;
@dimens-640: 640px;
@dimens-768: 12px;


/* Type Scale */
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@font-size-12: 12px;
@font-size-14: 14px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;
@font-size-24: 24px;
@font-size-30: 30px;
@font-size-36: 36px;
@font-size-48: 48px;
@font-size-60: 60px;
@font-size-72: 72px;


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif; // use the same font in all text on the page
}


body {
    background-color: white;
}


.header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: center;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 24px;
    
    // so that the scrolled text isn't visible behind the header
    background-color: white;
    z-index: 1;                

    &__title {
        font-size: @font-size-72;
        border-bottom: @dimens-4 solid @neutral-500;
        text-align: center;
        display: inline;
        margin: unset;
        padding-left: @dimens-32;
        padding-right: @dimens-32;
        font-weight: bold;

        // Below these sizes show a smaller font
        @media screen and (max-width: 1200px) {
            font-size: @font-size-30;
            padding-left: @dimens-16;
            padding-right: @dimens-16;
        }

        // And then smaller again - this is to prevent the title spilling
        // onto multiple lines
        @media screen and (max-width: 405px) {
            font-size: @font-size-20;
            padding-left: @dimens-12;
            padding-right: @dimens-12;
        }
    }
}


.panel-container {

    position: relative; // this is so the left-panel has something to position relative to

    @offset-from-browser-top: @dimens-128;
    @panel-centre-margin: @dimens-48;

    &__left-panel {
        display: inline-block;
        max-width: @dimens-512;
        position: absolute;
        margin-right: @panel-centre-margin;
        padding-bottom: @dimens-64; // so that the left-panel scrolls the content up enough
        top: @offset-from-browser-top;
        right: 50%; // move off the right side of the browser by this amount
    }
    
    &__right-panel {
        margin-left: @panel-centre-margin;
        position: fixed;
        top: @offset-from-browser-top;
        left: 50%; // move off the left side of the browser by this amount

    }

    // Below these sizes make it a 1 column layout
    @media screen and (max-width: 1200px), screen and (max-height: 840px) {

        & {
            // No longer need to position the left panel relative to this
            position: static;
        }

        &__left-panel {
            display: block;
            position: static;
            // Centre content in window
            margin-left: auto;
            margin-right: auto;
            margin-top: @dimens-64;
        }
        &__right-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: static;
            // Centre content in window
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.left-panel {

    &__intro-text {
        margin-bottom: @dimens-24;
    }

    &__warning-container {
        display: flex;
        align-items: center;
        border: @dimens-4 solid @accent-yellow-400;
        border-radius: @dimens-24;
        background-color: @accent-yellow-100;
        margin-bottom: @dimens-24;
    }

    &__button-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: @dimens-24;
    }

    &__footer a { // yeah, i should probably make a new class for this
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-decoration: none;  // remove the default styling
        color: unset;           // of the <a /> element text
        width: @dimens-192;
        margin-left: auto;      // centre the <a /> in the
        margin-right: auto;     // middle of the column
        
        // When any of the <a /> is hovered over bold the text
        // in the child span
        &:hover .footer__text { 
            text-decoration: underline;
        }
    }
}


.intro-text__p {
    font-size: @font-size-20;
    line-height: @dimens-32;
    text-align: justify;
    hyphens: auto; // makes the justified text look better

    &:first-child {
        // No margin on the first paragraph so that the top of each
        // column is aligned
        margin-block-start: 0; 
    }

    &:last-child {
        // Similar here, make it easy to space the following warning
        // section without factoring in this
        margin-block-end: 0;
    }

    &:nth-last-of-type(2) {
        // shrink the gap between the second to last paragraph
        // and trailing list 
        margin-block-end: 0.5em;    
    }                               
}


.intro-text__list {
    font-size: @font-size-20;
    line-height: @dimens-32;
    list-style-position: outside;
    margin-block-start: 0; // makes sure the list doesn't contribute to the gap between it and the paragraph

    & li {
        margin-bottom: @dimens-12;

        // Had to wrap the text in a span so that i could increase the gap between
        // the number and the text
        & span {
            display: block;
            margin-left: @dimens-12;
        }
    }
}


.warning-container {

    @horizontal-margin: @dimens-32;

    &__icon {
        width: @dimens-32;
        height: auto;
        margin: 0px @horizontal-margin;
        margin-right: 0px;
    }

    &__text {
        font-size: @font-size-18;
        line-height: @dimens-24;
        color: @neutral-500;
        padding: 0px @horizontal-margin;
        text-align: justify;
    }
}


.button-container {

    &__btn {
        padding: @dimens-12;
        width: @dimens-192;
        border-radius: @dimens-24;
        border: none;
        margin: @dimens-12;
        color: @neutral-100;
        font-weight: bold;
        font-size: @font-size-20;

        &:focus {
            outline: 0; // Hide the rectangular border that appears when clicking
        }

        &--enabled {
            background-color: @primary-300;
            border: 2px solid @primary-400;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

            &:hover {
                background-color: @primary-400;
            }

            &:active {
                filter: none; // remove drop shadow while mouse is clicked
            }
        }
    
        &--disabled {
            background-color: @neutral-200;
            border: 2px solid @neutral-300;
        }
    }    
}


.footer {
    &__github-logo {
        width: @dimens-32;
    }

    &__text {
        font-size: @font-size-16;
    }
}


.right-panel {

    &__watch-stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: @dimens-4 solid @neutral-300;
        border-radius: @dimens-12;
        height: @dimens-128;
        width: @dimens-512;
        margin-bottom: @dimens-32;

        // Need to shrink the container below this size as it begins to get cut-off
        @media screen and (max-width: 540px) {
            max-width: @dimens-512;
            width: unset;
        }
    }

    &__table {
        border: @dimens-4 solid @neutral-300;
        border-radius: @dimens-12;
        border-collapse: separate;
        border-spacing: 0px;
        margin-bottom: @dimens-32; // Theres nothing below here but its future proofed
        width: @dimens-512 + 8; // This should match the width of the status box so added a few
                                // px's to make that happen. This is a quick fix. I think
                                // its cos of how i drew the border on the table.
                                // Need to shrink the container below this size as it begins to get cut-off

        @media screen and (max-width: 540px) {
            max-width: @dimens-512;
            width: unset;
        }
    }
}


.watch-stats-container__text {
    font-weight: bold;
    font-size: @font-size-20;
    padding: @dimens-12;

    // When the "no device connected is displayed"
    &--info {
        color: @neutral-500;
    }

    // When an error message is displayed
    &--error {
        color: @accent-red-400;
    }

    &--hidden {
        display: none;
    }
}


.watch-stats-container__grid {
    width: 100%;
    height: 100%;
    display: grid;
    // 2x2 grid
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: left;

    &--hidden {
        display: none;;
    }
}


.grid__item {
    margin-left: @dimens-32;
    font-size: @dimens-16;
}


.item__label {
    font-weight: bold;
    font-size: @font-size-18;
}


.item__value {
    font-size: @font-size-20;
}


.table {

    @cell-padding: @dimens-12;

    &__header {
        background-color: @neutral-300;
        color: @neutral-100;
        padding: @cell-padding;
        font-size: @font-size-20;
    }

    &__row {
        display: flex;
        align-items: center;
        padding: @cell-padding;
        border-top: @dimens-4 solid @neutral-300;
        height: @dimens-32;

        // Label on the far left, icon on the far right
        &--visible-status-icon {
            justify-content: space-between;
        }

        // Label centered, no icon visible
        &--hidden-status-icon {
            justify-content: center;
        }
    }
}


.row {
    &__package-label {
        font-size: @font-size-20;
    }
    &__status-icon {
        width: @dimens-32;
        height: auto;

        &--hidden {
            display: none;
        }
    }
}


.modal {
    display: none;      // Don't show by default
    position: fixed;    // position relative to the browser window
    left: 0;
    top: 0;
    z-index: 1;         // position on top of the other content
    width: 100%;
    height: 100%;
    backdrop-filter: blur(@dimens-4);
    justify-content: center;
    align-items: center;
    &--visible {
        display: flex;
    }

    &__text {
        font-size: @font-size-30;
        line-height: @dimens-32;
        text-align: center;
        background-color: @neutral-100;
        max-width: 20%;
        max-height: 30%;
        border: @dimens-4 solid @neutral-300;
        border-radius: @dimens-12;
        padding: @dimens-48;
    }
}