
/* Colors */
// Note: probably need another 2 or 4 shades per color to make this look better

@primary-500: #226A62;
@primary-400: #2F9187;
@primary-300: #3CB7AB;
@primary-200: #7ED5CD;
@primary-100: #D4F1EE;

@neutral-500: #090909;
@neutral-400: #404040;
@neutral-300: #808080;
@neutral-200: #C8C8C8;
@neutral-100: #F6F6F6;

@accent-yellow-500: #504B0C;
@accent-yellow-400: #B4AA1B;
@accent-yellow-300: #E6DD5B;
@accent-yellow-200: #F1ECA1;
@accent-yellow-100: #FAF8DC;

@accent-red-500: #501E0C;
@accent-red-400: #B4441B;
@accent-red-300: #E6805B;
@accent-red-200: #F1B6A1;
@accent-red-100: #FAE4DC;

@accent-green-500: #27500C;
@accent-green-400: #4EA018;
@accent-green-300: #93E65B;
@accent-green-200: #C1F1A1;
@accent-green-100: #E8FADC;


/* Dimensions */
// idk about the naming convention here.
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@dimens-4: 4px;
@dimens-8: 8px;
@dimens-12: 12px;
@dimens-16: 16px;
@dimens-24: 24px;
@dimens-32: 32px;
@dimens-48: 48px;
@dimens-64: 64px;
@dimens-96: 96px;
@dimens-128: 128px;
@dimens-192: 192px;
@dimens-256: 256px;
@dimens-384: 384px;
@dimens-512: 512px;
@dimens-640: 640px;
@dimens-768: 12px;


/* Type Scale */
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@font-size-12: 12px;
@font-size-14: 14px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;
@font-size-24: 24px;
@font-size-30: 30px;
@font-size-36: 36px;
@font-size-48: 48px;
@font-size-60: 60px;
@font-size-72: 72px;


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif; // use the same font in all text on the page
}


body {
    background-color: #FFFFFF;
}