/*
 * The classes in here follow the BEM naming convention for the generated CSS
 * (not that it is really needed on a project of this size)
 */


/* Colors */
// Note: probably need another 2 or 4 shades per color to make this look better

@primary-500: #226A62;
@primary-400: #2F9187;
@primary-300: #3CB7AB;
@primary-200: #7ED5CD;
@primary-100: #D4F1EE;

@neutral-500: #090909;
@neutral-400: #404040;
@neutral-300: #808080;
@neutral-200: #C8C8C8;
@neutral-100: #F6F6F6;

@accent-yellow-500: #504B0C;
@accent-yellow-400: #B4AA1B;
@accent-yellow-300: #E6DD5B;
@accent-yellow-200: #F1ECA1;
@accent-yellow-100: #FAF8DC;

@accent-red-500: #501E0C;
@accent-red-400: #B4441B;
@accent-red-300: #E6805B;
@accent-red-200: #F1B6A1;
@accent-red-100: #FAE4DC;

@accent-green-500: #27500C;
@accent-green-400: #4EA018;
@accent-green-300: #93E65B;
@accent-green-200: #C1F1A1;
@accent-green-100: #E8FADC;


/* Dimensions */
// idk about the naming convention here.
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@dimens-4: 4px;
@dimens-8: 8px;
@dimens-12: 12px;
@dimens-16: 16px;
@dimens-24: 24px;
@dimens-32: 32px;
@dimens-48: 48px;
@dimens-64: 64px;
@dimens-96: 96px;
@dimens-128: 128px;
@dimens-192: 192px;
@dimens-256: 256px;
@dimens-384: 384px;
@dimens-512: 512px;
@dimens-640: 640px;
@dimens-768: 12px;


/* Type Scale */
// Note: this is borrowed from Refactoring UI by Adam Wathan and Steve Schoger

@font-size-12: 12px;
@font-size-14: 14px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;
@font-size-24: 24px;
@font-size-30: 30px;
@font-size-36: 36px;
@font-size-48: 48px;
@font-size-60: 60px;
@font-size-72: 72px;


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Montserrat', sans-serif; // use the same font in all text on the page
}


body {
    background-color: white;
}


.header {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 24px;

    &__title {
        font-size: @font-size-72;
        border-bottom: @dimens-4 solid @neutral-500;
        text-align: center;
        display: inline;
        margin: unset;
        padding-left: @dimens-32;
        padding-right: @dimens-32;
        font-weight: bold;
    }
}


.panel-container {

    display: flex;
    justify-content: center;

    &__left-panel {
        border: 1px solid black; // temporary while i adjust layout bounds
        max-width: @dimens-640;
        margin-right: @dimens-48;
    }
    
    &__right-panel {
        border: 1px solid black; // temporary while i adjust layout bounds
        margin-left: @dimens-48;
    }
}

// Dont want to nest too deep in this so split it out of the .panel-container block
.left-panel {

    &__intro-text {
        font-size: @font-size-24;
        line-height: @dimens-48;
        text-align: center;
    }

    &__warning-container {
        display: flex;
        align-items: center;
        border: @dimens-4 solid @accent-yellow-400; // temporary while i adjust layout bounds
        border-radius: @dimens-24;
        background-color: @accent-yellow-100;
    }

    &__button-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black; // temporary while i adjust layout bounds
    }
}

.warning-container {

    @horizontal-margin: @dimens-32;

    &__icon {
        // border: 1px solid black; // temporary while i adjust layout bounds
        width: @dimens-32;
        height: auto;
        margin: 0px @horizontal-margin;
    }

    &__text {
        font-size: @font-size-18;
        color: @neutral-500;
        // border: 1px solid black; // temporary while i adjust layout bounds
        padding: 0px @horizontal-margin;
    }
}


// TODO: add remainder of left-panel item styling
.button-container {

    &__btn {
        padding: @dimens-12;
        width: @dimens-128;
        border-radius: @dimens-24;
        border: none;
        margin: @dimens-12;
        color: @neutral-100;
        font-weight: bold;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &:focus {
            outline: 0; // Hide the rectangular border that appears when clicking
        }

        &--enabled {
            background-color: @primary-300;
            border: 2px solid @primary-400;

            &:hover {
                background-color: @primary-400;
            }

            &:active {
                filter: none; // remove drop shadow while mouse is clicked
            }
        }
    
        &--disabled {
            background-color: @neutral-200;
            border: 2px solid @neutral-300;
        }
    }    
}


// Dont want to nest too deep in this so split it out of the .panel-container block
.right-panel {

    &__watch-stats-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border: @dimens-4 solid @neutral-300;
        border-radius: @dimens-12;
        height: @dimens-128;
        width: @dimens-512;
    }

    &__table {
        border: @dimens-4 solid @neutral-300;
        border-radius: @dimens-12;
        border-collapse: separate;
        border-spacing: 0px;
        width: @dimens-512;
    }
}


.watch-stats-container__text {
    font-weight: bold;

    // When the "no device connected is displayed"
    &--info {
        color: @neutral-500;
    }

    // When an error message is displayed
    &--error {
        color: @accent-red-400;
    }

    &--hidden {
        display: none;
    }
}

.watch-stats-container__grid {
    width: 100%;
    height: 100%;
    display: grid;
    // 2x2 grid
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: left;

    &--hidden {
        display: none;;
    }
}

.grid__item {
    margin-left: @dimens-32;
}

.item__label {
    font-weight: bold;
}

.item__value {

}

.table {

    @cell-padding: @dimens-12;

    &__header {
        background-color: @neutral-300;
        color: @neutral-100;
        padding: @cell-padding;
    }

    &__row {
        display: flex;
        align-items: center;
        padding: @cell-padding;
        border-top: @dimens-4 solid @neutral-300;

        // Label on the far left, icon on the far right
        &--visible-status-icon {
            justify-content: space-between;
        }

        // Label centered, no icon visible
        &--hidden-status-icon {
            justify-content: center;
        }
    }
}

.row {
    &__package-label {

    }
    &__status-icon {
        width: @dimens-32;
        height: auto;

        &--hidden {
            display: none;
        }
    }
}
